<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ShilpSamrat - Celebrating Artistry and Heritage</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,700">
  <link rel="stylesheet" href="landing-page.component.css">
</head>
<body>

  <header>
    <nav>
      <div class="logo">ShilpSamrat</div>
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#products">Products</a></li>
        <li><a href="#about">About Us</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
      <div class="auth-buttons">
        <button id="loginButton" onclick="toggleForm('loginFormContainer')">Login</button>
        <button id="signupButton" onclick="toggleForm('signupFormContainer')">Signup</button>
      </div>
    </nav>
    <div class="hero">
      <h1>Discover the Beauty of Handcrafted Art</h1>
      <p>Explore The Heritage Of India, crafted with love and passion by skilled artisans.</p>
      <a href="#products" class="btn">Shop Now</a>
    </div>
  </header>

  <section id="products">
    <h2>Featured Products</h2>
    <div class="product-container">
      <div class="product">
        <img src="" alt="Product 1">
        <h3>HandMade Silk Saaree of Banaras</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus mauris vitae odio elementum.</p>
      </div>
      <div class="product">
        <img src="" alt="Product 2">
        <h3>Art of Warli
          Tribes</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus mauris vitae odio elementum.</p>
      </div>
      <div class="product">
        <img src="" alt="Product 3">
        <h3>Flavours of India</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut rhoncus mauris vitae odio elementum.</p>
      </div>
    </div>
  </section>

  <section id="about">
    <div class="about-content">
      <h2>About Us</h2>
      <p>At ShilpSamrat, we are committed to celebrating the rich artistry and heritage of Indian crafts. Our platform
        brings together talented artisans from diverse cultures and showcases their exceptional craftsmanship. Every
        product tells a unique story and embodies the values of tradition, creativity, and sustainability.</p>
      <a href="#contact" class="btn">Contact Us</a>
    </div>
    <div class="about-image">
      <!-- Insert an appealing image related to crafts or artisans -->
      <img src="" alt="About Image">
    </div>
  </section>

  <section id="contact">
    <h2>Contact Us</h2>
    <!-- Include a contact form or contact information for inquiries -->
  </section>

  <footer>
    <p>&copy; 2023 ShilpSamrat. All rights reserved.</p>
  </footer>

  <script src="scripts.js"></script>
</body>

</html>
